<!-- Masthead
  ================================================== -->
<header>

  <!-- Top Panel
  ================================================== -->
  <div id="top-panel">
    <div class="login-box">

    </div>
    <div class="login-button">
      <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% end%>
    </div><!-- login-button -->
  </div><!-- top-panel -->

  <!-- Navbar
  ================================================== -->
  <div class="row">
    <a href="/">
    <div class="span3 logo header-logo">
      <!--<a href="index.html"><img src="img/logo.png" alt="" /></a>-->
      <h1>Sousaplex</h1>
      <h3>Entertainment</h3>
    </div><!-- logo -->
      </a>
    <div class="span9 navigation">
      <div id="menu" class="fix-fish-menu clearfix">
        <ul id="nav" class="sf-menu">

          <li class="<%= is_active?('/') %>"><%= link_to "Home", '/' %></li>
          <li class="<%= is_active?('/team') %>"><%= link_to "Team", '/team' %></li>
          <li class="<%= is_active?('/projects') %>"><%= link_to "Projects", '/projects' %></li>
          <li class="<%= is_active?('/faq') %>"><%= link_to "FAQ", '/faq' %></li>
          <% if current_user and current_user.admin? %>
              <li class="<%= is_active?('/admin') %>"><%= link_to "Admin", '/admin' %></li>
          <% end %>

          <!--<li class="active">

            &lt;!&ndash;<a href="index.html">Home</a>&ndash;&gt;
          </li>
          <li><a href="team">Team</a>
          </li>
          <li> <a href="#">Projects</a>
          </li>
          <li> <a href="faq">FAQ</a></li>
          <li class="hidden"> <a href="shortcodes.html">Admin</a></li>-->
        </ul><!-- end #nav  -->
      </div><!-- end #menu  -->
    </div><!-- navigation -->
  </div><!-- row -->

  <div class="row">
    <div class="span3"><div class="border-5-1"></div></div>
    <div class="span9"><div class="border-5-1 hide-border"></div></div>
  </div><!-- row -->


</header>