<div class="vertical-center-row">
  <div align="center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
        <br/>
        <h3 class="form-signin-heading">Please Sign In</h3>
        <br/>
        <%- flash.each do |name, msg| -%>
            <div class="alert alert-danger" role="alert" style="width: 15%">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= msg %>
            </div>
        <%- end -%>
        <div class="field">
          <%= f.email_field :email, autofocus: true, :placeholder => 'Username', :html => {:class => 'form-control'} %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Log in",:class => 'btn btn-default btn-lg' %>
        </div>
    <% end %>
  </div>
</div>